* {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.nav {

    background: orangered;
    opacity: 0.9;
    width: 100%;
    height: 50px;
    position: fixed;

    z-index: 100;

    display: flex; 
    align-items: center;
    justify-content: center;
    
}

.nav__responsive-button-container {
    display: none;
}

.nav__responsive-ul {
    display: none;
}


.secciones {

    margin: 10px;

}

.secciones a {
    color: white;
    padding: 15px;
    text-decoration: none;
    transition: .3s;

}

.secciones a:hover {
    color: #001524;
}

.tc {
    position: absolute;
    color: white;
    margin: 0px;
    left: 40px;
    font-weight: 800;
    letter-spacing: 2px;
}

.inicio {

    background-image: url(images/image1P.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}



.inicio > .secciones a {
    background: yellow;
}

  
.holaSoyTomas {

    height: 150px;
    width: 800px;
    padding: 20px;
    text-align: center;

}

.holaSoyTomas a {
    text-decoration: none;
}

.hola {

    color: #ffecd1;

    font-size: 35px;
    height: 40px;
    margin: 5px;
    transition: 0.25s;


}

.holaSoyTomas a:hover > .hola {
    font-size: 45px;
}

.soyTomas {
    color: #ffecd1;
    font-size: 45px;
    width: 100%;
    transition: 0.5s;
} 

.holaSoyTomas a:hover > .soyTomas {
    font-size: 60px;
}

.frontendDev {
    color: #ffecd1;
    font-size: 25px;
    margin: 10px;
    transition: 0.75s;
    letter-spacing: 2px;
}

.holaSoyTomas a:hover > .frontendDev {
    font-size: 35px;
}

.flecha {
    position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
    margin: auto;

    width: 30px;
    height: 30px;

    background: orangered;
    border-radius: 50%;
    transition: 0.2s;

    display: flex;
    text-align: center;
    justify-content: center; /* repasar */

    transition: 0.75s;
    
}

.flecha a i {
    font-size: 20px;
    position: relative;
    top: 5px;
    color: white;
}

.flecha:hover {
    width: 40px;
    height: 40px;
}

.holaSoyTomas:hover > .flecha {
    width: 40px;
    height: 40px;
}

.acerca {

    background: #ffecd1;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
}

.acercaDeMi {
    
    height: 5%;
    width: 100%;
    position: absolute;
    top: 20%;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.acercaDeMi h2 {
    color: #88290f;
}

.acerca-cont {

    display: flex;
    position: relative;
    top: 40px;
    width: 90%;
}

.quienSoy {
    
    height: 50%;
    width: 45%;
    margin: 5%;
    margin-right: -5px;
    font-size: 15px;
    padding: 20px;
    text-align: center;

}

.quienSoy h2 {
    color: #88290f;
    position: relative;
    top: 40px;
}

.quienSoy p {
    position: relative;
    top: 30px;

    height: 50%;
    font-size: 20px;
    padding: 40px;
    

}

.descargar i {
    background: orangered;
    position: relative;
    top: 20px;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
}

.descargar i:hover {
    cursor: pointer;
}

.habilidades {

    height: 50%;
    width: 45%;
    margin: 5%;
    font-size: 15px;
    padding: 20px;
    text-align: center;

} 

.habilidades h2 {
    color: #88290f;
    position: relative;
    top: 40px;
}


.hab {
    position: relative;

    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 70px;

}

.hab-cont {

    height: 120px;
    width: 120px;
    position: relative;
    margin-bottom: 1px;
    padding: 5px;
}

.hab-cont img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.hab-cont i {

    font-size: 35px;
    position: relative;
    color: rgba(50, 50, 50, 1);
    top: 30px;

}

.hab-cont p {
    font-size: 10px;
    position: relative;
    top: 30px;
}


.servicios {

    background: #ffecd1;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 200%;
    text-align: center;
}


.servicios h2 {
    color: #88290f;
}

.servTitulo {

    height: 5%;
    width: 90%;
    position: absolute;
    top: 20%;
    font-size: 30px;
    padding: 10px;
    z-index: 151;
}


.serviciosOffer {
    height: 55%;
    width: 90%;
    margin: 5%;
    padding: 20px;
    position: relative;
    top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.serv-obt {                   /* tener cuidado con los elemetos que coloco en contenedores */
    height: 5%;
    width: 90%;
    position: absolute;
    top: 24.6%;
    font-size: 15px;
    font-weight: 200;
    padding: 10px;
    z-index: 150;
}

.serviciosOffer div {

    height: 180px;
    min-width: 400px;
    font-size: 30px;

}

.serviciosOffer div h6 {
    color: #88290f;
    font-size: 17px;
    position: relative;
    top: 7px;
}

.serviciosOffer div p {
    font-size: 13px;
    position: relative;
    top: 7px;
}

.serv1 i {
    color: rgb(50, 50, 50);
}

.serv2 i {
    color: darkorange;
}

.serv3 i {
    color: rgb(0, 150, 0);
}

.serv4 i {
    color: rgb(59, 89, 152);
}

.serv5 i {
    color: orangered;
}

.serv6 i {
    color: rgb(20, 20, 20);
}

.contPortafolio {

    background: #ffecd1;
    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    position: absolute;
    top: 300%;
}

.contPortafolio h2 {

    color: #88290f;

    font-size: 30px;

    position: absolute;
    top: 18%;
    height: 5%;
    width: 90%;
    z-index: 303;
    text-align: center;
}



/* proyectos */



.contenedorProyect {

    width: 90%;
    height: 70%;

    position: relative;
    top: 50px;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;

    
}

.contenedorProyect figure {
    margin:50px;
    position: relative;
    max-height: 30%;
    max-width: 20%;
    overflow: hidden;
    border-radius: 7px;  
    cursor: pointer;  
}

.contenedorProyect figure img {
    width: 100%;
    height: 100%;

    transform: all 500ms ease-out;
}

.contenedorProyect figure a .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    opacity: 0;

    background: orangered;

}

.contenedorProyect a .capa h3 {
    color: #fff;
    text-align: center;
    transition: 0.5s;
    font-size: 1.3em;
}

.contenedorProyect a .capa p {
    color: #fff;
    font-size: .6em;
    text-align: center;    
    transition: 0.5s;
}

.contenedorProyect figure:hover > a .capa {
    opacity: 1;
}

.contenedorProyect figure:hover > a .capa h3 {
    margin: 40px auto;
}



.contContacto {

    background: #ffecd1;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 400%;
}

.contContacto h2 {

    color: #88290f;

    font-size: 30px;

    position: absolute;
    top: 20%;
    height: 5%;
    width: 90%;
    text-align: center;
}


.contact {

    position: absolute;
    left: 0;

    height: 50%;
    width: 5%;
    margin: 5%;
    font-size: 15px;
    padding: 20px;
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.cont-social a {

    height:  50px;
    width: 100%;

    font-size: 30px;
    text-decoration: none;

    transition: 0.4s;
    text-align: center;
    
    background-color: inherit;

    display: block;
    justify-content: space-between;
}

.cont-social {

    display: block;
    position: absolute;
    right: 10px;

}

.contact a i:hover {

    filter: brightness(.7);
    
}

.mail i {
    color: #f85059;
}

.wpp i {
    color: #25d366;
}

.in i {
    color: rgb(14, 118, 168);
}

li {
    color: #88290f;
}

.contact-1 {

    width: 60%;
    height: 50%;
    position: absolute;
    right: 5%;
}


/* Formulario */

.contact-1 {
    
    width: 80%;
    position: absolute;
    left: 10%;
}

.flex-container {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    height: 100%;



}

.form {

    flex: 2;
    text-align: center;
    order: 2;

}

.form__input {
    display: inline-block;
    width: 100%;
}


.form__input input {

    width: 100%;
    height: 35px;
    padding: 7px;
    margin: 9px 0;
    border: none;
    border-radius: 5px;
    background: #E5BD7D;
    color: white;
    font-size: 9px;

}

.form__input1 input {
    width: 100%;
    height: 35px;
    padding: 7px;
    margin: 9px 0;
    border: none;
    border-radius: 5px;
    background: #E5BD7D;
    color: white;
    font-size: 9px;
}

.form__input1 input:focus {
    background: #D0AA7D;
    outline: none;
    font-size: 10px;

}

.form__input input:focus {
    background: #D0AA7D;
    outline: none;
    font-size: 10px;

}

.form__input textarea {
    width: 100%;
    padding: 7px;
    margin: 9px 0;
    border: none;
    border-radius: 5px;
    background: #E5BD7D;
    color: white;
    resize: none;
    min-height: 120px;
    font-size: 10px;

}

.form__input textarea:focus {
    background: #D0AA7D;
    outline: none;
}

.form__submit {
    width: 100%;
    padding: 7px;
    margin: 9px 0;
    border: none;
    border-radius: 5px;
    background: none;
    color: white;
}

.form__submit {
    height: 35px;
    background: #E5BD7D;
    transition: 0.12s;
    font-size: 11px;
    color: black;
}

.form__submit:hover {
    background: #D0AA7D;
    cursor: pointer;
}


/* Pie de pagina */

.foot {
    background: orangered;
    width: 100%;
    height: 10%;
    position: absolute;
    top: 490%;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 350;

}

.copyR {
    position: absolute;
    height: 50px;
    width: 300px;
}

.copyR p {
    color: white;
    font-size: 13px;
}






